<%= form_with(model: friend, local: true) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="row">
  <div class="field input-field col s6">
  <i class="material-icons prefix">account_circle</i>
    <%= form.label :first_name %>
    <%= form.text_field :first_name,class:"validate" %>
  </div>

  <div class="field input-field col s6">
    <%= form.label :last_name %>
    <%= form.text_field :last_name,class:"validate" %>
  </div>
</div>
  <div class="field input-field col s12">
     <i class="material-icons prefix">email</i>
    <%= form.label :email %>
    <%= form.text_field :email,class:"validate" %>
  </div>
 <div class="row">
  <div class="field input-field col s6">
    <i class="material-icons prefix">phone</i>
    <%= form.label :phone %>
    <%= form.text_field :phone,class:"validate" %>
  </div>

  <div class="field input-field col s6">
  <i class="material-icons prefix">format_quote</i>
    <%= form.label :twitter %>
    <%= form.text_field :twitter,class:"validate" %>
  </div>
</div>
  <div class="actions">
    <%= form.submit class:"waves-effect waves-teal btn"%>
  </div>
<% end %>

<style>
.btn{
  background-color: #006064;
}
</style>